<header class="navbar navbar-expand-lg fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "EVENTBRITE", '/' %></li>
        <li><%= link_to "Accueil", '/' %></li>
        <li><%= link_to "Liste des événements", events_path%></li>
        <li><%= link_to "Nouvel évenement", new_event_path %></li>
      </ul>
    </nav>
  </div>
</header>